/*
Charte graphique :
Teinte dominante : #5CB85C
	dérivés : #9FDC9F -> #89DC89 -> #5CB85C -> #568A56 -> #1E781E
Couleur secondaire A : #458A8A
	dérivés : #8EC4C4 -> #7BC4C4 -> #458A8A -> #416868 -> #165A5A
Couleur secondaire B : #B3D76B
	dérivés : #D5EBAA -> #CDEB93 -> #B3D76B -> #8DA165 -> #698C23
*/

.journal {
	width: 200px;
	height: 200px;
	overflow: hidden;
	display: inline-block;
	border: solid 2px #5CB85C;
    border-radius: 10px;
}

.journal-head {
	height: 20px;
}

.journal-num {
	background-color: #5CB85C;
	color: white;
	position: relative;
	top: 5px;
	left: 5px;
}

.journal-background {
	margin-top: -20px;
	background-color: rgba(0,0,0,0);
}

.journal-background img{
	width: 100%;
}