/*
Charte graphique :
Teinte dominante : #5CB85C
	dérivés : #9FDC9F -> #89DC89 -> #5CB85C -> #568A56 -> #1E781E
Couleur secondaire A : #458A8A
	dérivés : #8EC4C4 -> #7BC4C4 -> #458A8A -> #416868 -> #165A5A
Couleur secondaire B : #B3D76B
	dérivés : #D5EBAA -> #CDEB93 -> #B3D76B -> #8DA165 -> #698C23
*/

html {
    height: 100%;
}

body {
	height: 100%;
}

#map-canvas {
	height: 500px;
}

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -160px;
  /* Pad bottom by footer height */
  padding: 0 0 200px;
}

#wrap > .container {
	padding-top: 114px;
}

.navbar-collapse > ul {
    padding-top: 22px !important;
}
.navbar-toggle {
    margin-top: 28px;
}

#brandName {
	border: medium none;
	color: #FFFFFF;
	display: block;
	float: none;
	margin-top: 26px;
	text-align: center;
}

#form-logout {
	display: inline-block;
	border-color: transparent;
    box-shadow: none;
}

#login {
    position: relative;
    display: block;
    border-color: transparent;
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;
}

#footer {
	height: 160px;
	padding-top: 20px;
	background-color: #5CB85C;
	color: #ffffff;
	text-align: center;
}

#user {
    position: relative;
    display: inline-block;
    padding: 15px 15px;
	color: #dddddd;
}

/* MODIFS DE BOOTSTRAP */

#admin-bar ul .active a {
    background-color: #5CB85C;
    color: #FFFFFF;
}

#admin-bar ul li a {
    color: #568A56;
}

.titre-contact {
    margin-bottom: 30px;
}

.imagecentre {
	margin: 10px auto;
	display: inline-block;
}

.imagecentre2 {
	text-align: center;
}